.mdl-textfield--floating-label.is-focused>.mdl-textfield__label {
 color: #fff;
}

.mdl-textfield__input {
 border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.mdl-textfield__label {
 color: rgba(255, 255, 255, .26);
}

.mdl-textfield__label:after {
 background-color: #fff;
}

@media only screen and (min-width: 0px) {
    .mdl-textfield {
        width: 80px;
      }
}


@media only screen and (min-width: 320px) {
    .mdl-textfield {
        width: 100px;
      }
}


@media only screen and (min-width: 350px) {
    .mdl-textfield {
        width: 140px;
      }
}


@media only screen and (min-width: 600px) {
    .mdl-textfield {
        width: 200px;
      }
}


@media only screen and (min-width: 1020px) {
    .mdl-textfield {
        width: 400px;
      }
}


/* @media (max-width: 750px) {
 .mdl-textfield {
   width: 140px;
 }
} */