.mdl-layout__header{
 min-height: 40px; 
 max-height: 40px; 
 background: #009688;
 height: 20px;
}



/*  TABS*/
.mdl-tabs__tab-bar {
 background: #26a69a;
 border-bottom: 5px solid #263238; 
}
.mdl-tabs__tab-bar{
   background: #26a69a;
}

.mdl-tabs__tab {
 margin: 0;
 border: none;
 padding: 0 24px 0 24px;
 float: left;
 position: relative;
 display: block;
 text-decoration: none;
 height: 50px;
 line-height: 50px;
 text-align: center;
 font-weight: 500;
 font-size: 14px;
 text-transform: uppercase;
 /* col letra */
 color: white;  
 overflow: hidden; 
}
 .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
   color: black ; 
  }

 .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
   height: 3px;
   width: 100%;
   display: block;
   content: " ";
   bottom: 0px;
   left: 0px;
   position: absolute;
   /* cor da linha */
   background: white ;
   -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
           animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
   transition: all 1s cubic-bezier(0.4, 0, 1, 1); 
  }

 .mdl-tabs__tab .mdl-tabs__ripple-container {
   display: block;
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0px;
   top: 0px;
   z-index: 1;
   overflow: hidden; 
  }

    /*  TABS*/


    
    .portfolio-max-width {
      max-width: 60%;
      margin: auto;
    }

    .mdl-layout__header-row {
      margin:5px 0px 0px -50px; 
      height: 50px;
 
     }

     .mdl-card__media{
      background: #009688;
     }

     .mdl-button--colored{
      color: black;
     }



     /* ⏩⏩⏩⏩⏩ TAB Artigo ⏩⏩⏩⏩⏩⏩⏩⏩⏩⏩ */

    /* ⏩⏩⏩⏩⏩ TAB Artigo ⏩⏩⏩⏩⏩⏩⏩⏩⏩⏩ */