.loader-progress {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    top: 0;
    left: 0;
   }
   
   .loader-progress>.loading {
    margin: 0 auto;
   }
   
   .demo-card-square.mdl-card {
    height: 210px;
    width: 100%;
   }
   
   .custom-cell.mdl-cell--2-col {
    width: calc(20% - 16px);
   }
   
   .custom-cell {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   
   .demo-card-square>.mdl-card__title {
    color: #fff;
   }
   
   .mdl-card__title {
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
   }
   
   .mdl-card--expand:hover {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.3);
    background-size: 130% !important;
    cursor: pointer;
   }
   
   .mdl-card__supporting-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px;
    color: rgb(196, 48, 43);
    /* text-align: right; */
    width: 100%;
   }
   
   .btnDownload{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;
       color: #ffffff;
       /* padding: 0px 20px 0px 20px; */
       background-color: rgb(79, 111, 144);
       border: none;
       height: 25px;
       width: 85%;
       cursor: pointer;
      
       /* margin:0px 0px 0px 0px;  */
       /* position: absolute; */
   }
   #generate{
    text-decoration: none;
    color: #fff;
   }
   
   /* .btnDownload:visited {  }
   .btnDownload:hover {  }
   .btnDownload:focus { background:red; }
   .btnDownload:active {background:olive;  } */
   
   .iframClass {
       width:79%;
       height:60px ;
       font-size: 12px;
       padding: 150px 0px 0px 0px; 
       position: absolute;
       z-index: 10;
   }
   
   .icon_add{
       background: black;
       width: 15%;
       height: 25px;
       /* margin-top: 2px; 
       padding:1px;  */
        text-align: center;
        position: absolute;
        padding-top: 2.5px; 
   }
   
   .mdl-card__supporting-text .material-icons {
    cursor: pointer;
    font-size: 20px;
   }
   
   .video-name-block {
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
   }
   
   .video-info-block {
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
   }
   
   .video-informations {
    padding: 8px;
    text-align: center;
   }
   
   .video-informations i {
    font-size: 11px;
   }
   
   .video-play-button {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   }
   
   .video-play-button i {
    font-size: 50px;
    visibility: hidden;
   }
   
   .mdl-card--expand:hover .video-play-button i {
    visibility: visible;
   }
   
   .last-item {
    margin-bottom: 45px;
   }
   
   .carregarVideos{
    margin-bottom: 45px;
   }
   
   
   @media (min-width: 480px) {
   
       .iframClass {
           width:40%;
           height:60px ;
           font-size: 12px;
           padding: 150px 0px 0px 0px; 
           position: absolute;
           z-index: 10;
       }
   }
   
   @media (min-width: 840px) {
   
       .iframClass {
           width:15.5%;
           height:60px ;
           font-size: 12px;
           padding: 150px 0px 0px 0px; 
           position: absolute;
           z-index: 10;
       }
   }
   
   @media (min-width: 1200px) {
   
       .iframClass {
           width:16%;
           height:60px ;
           font-size: 12px;
           padding: 150px 0px 0px 0px; 
           position: absolute;
           z-index: 10;
       }
   }
   
   
   
   
   @media (max-width: 479px) {
    .custom-cell.mdl-cell--2-col {
      width: calc(100% - 16px);
    }
   }
   
   @media (max-width: 839px) and (min-width: 480px) {
    .custom-cell.mdl-cell--2-col {
      width: calc(50% - 16px);
    }
   }